@model BeerWeb.ViewModels.EditCategoryViewModel
@{
    ViewBag.Title = "Edit Category";
}

<h2>EditCategory</h2>

@section Search{
    @using (Html.BeginForm("SearchResult", "Product", FormMethod.Get))
    {
        <div style="border: solid black 1px; padding-top: 5px;">
            <h4 style="text-align: center;">Search</h4>
            <table class="table">
                <tr>
                    <th>Search product by name or description</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>@Html.TextBox("SearchProduct", null, new { placeholder = "Product/Description" })</td>
                    <td><input type="submit" value="Search" /></td>
                </tr>
            </table>
        </div>
    }
    <br /> <br />
}

@using (Html.BeginForm(FormMethod.Post))
{
    <table class="table table-bordered table-hover">

        <tr>
            <td>@Html.LabelFor(x=>x.Name, new { @class = "form-control" })</td>
            <td class="active">
                @Html.HiddenFor(p => p.Id)
                @Html.TextBoxFor(p => p.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(p => p.Name)
            </td>
        </tr>

    </table>
    <input type="submit" value="Save category" />

}

